geopandas==1.0.1
libpysal==4.12.1
matplotlib==3.10.3
momepy==0.9.1
networkx==3.4.2
numpy==2.3.1
osgeo==0.0.1
osmnx==2.0.5
pandas==2.3.1
rasterio==1.4.3
rasterstats==0.20.0
scikit_fuzzy==0.5.0
scikit_learn==1.7.0
sentinelsat==1.2.1
Shapely==2.1.1
sip==6.12.0
